<?xml version="1.0" encoding="UTF-8" ?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<!--
		This is the logging configuration file for SBM
		it will log
			all crawler logs to	comlineag-loggerSBM.log
			all persistence logs to	comlineag-loggerSBM_Persistence.log
			all Twitter logs to	comlineag-loggerSBM_Twitter.log
			all Http logs to	comlineag-loggerSBM_Http.log
	-->
	
	<!-- console logging -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender"> 
		<param name="Target" value="System.out"/> 
		<layout class="org.apache.log4j.PatternLayout"> 
			<param name="ConversionPattern" value="%-5p %c{1} - %m%n"/> 
		</layout>
	</appender>
	
	<!-- standard logfile  -->
	<appender name="file" class="org.apache.log4j.FileAppender"> 
		<param name="File" value="./logs/comlineag-loggerSBM.log"/>
		<!-- <param name="Threshold" value="WARN"/> -->
		<layout class="org.apache.log4j.PatternLayout"> 
			<!-- <param name="ConversionPattern" value="%-5p %c{1} - %m%n"/> -->
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1} - %m%n"/>     
		</layout>
	</appender>
	<!-- Crawler logfile -->
	<appender name="fileC" class="org.apache.log4j.FileAppender"> 
		<param name="File" value="./logs/comlineag-loggerSBM_Crawler.log"/>
		<!-- <param name="Threshold" value="WARN"/> --> 
		<layout class="org.apache.log4j.PatternLayout"> 
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1} - %m%n"/>     
			<!-- <param name="ConversionPattern" value="%-5p %c{1} - %m%n"/> -->
		</layout>
	</appender>
	<!-- Persistence logfile -->
	<appender name="fileP" class="org.apache.log4j.FileAppender"> 
		<param name="File" value="./logs/comlineag-loggerSBM_Persistence.log"/>
		<!-- <param name="Threshold" value="WARN"/> --> 
		<layout class="org.apache.log4j.PatternLayout"> 
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1} - %m%n"/>     
			<!-- <param name="ConversionPattern" value="%-5p %c{1} - %m%n"/> -->
		</layout>
	</appender>
	<!-- http logfile -->
	<appender name="fileH" class="org.apache.log4j.FileAppender"> 
		<param name="File" value="./logs/comlineag-loggerSBM_Http.log"/>
		<!-- <param name="Threshold" value="WARN"/> --> 
		<layout class="org.apache.log4j.PatternLayout"> 
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1} - %m%n"/>     
			<!-- <param name="ConversionPattern" value="%-5p %c{1} - %m%n"/> -->
		</layout>
	</appender>
	<!-- twitter logfile -->
	<appender name="fileT" class="org.apache.log4j.FileAppender"> 
		<param name="File" value="./logs/comlineag-loggerSBM_Twitter.log"/>
		<!-- <param name="Threshold" value="WARN"/> --> 
		<layout class="org.apache.log4j.PatternLayout"> 
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1} - %m%n"/>     
			<!-- <param name="ConversionPattern" value="%-5p %c{1} - %m%n"/> -->
		</layout>
	</appender>
	<!-- facebook logfile -->
	<appender name="fileF" class="org.apache.log4j.FileAppender"> 
		<param name="File" value="./logs/comlineag-loggerSBM_Facebook.log"/>
		<!-- <param name="Threshold" value="WARN"/> --> 
		<layout class="org.apache.log4j.PatternLayout"> 
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1} - %m%n"/>     
			<!-- <param name="ConversionPattern" value="%-5p %c{1} - %m%n"/> -->
		</layout>
	</appender>
	
	
	<root> 
		<priority value ="error" /> 
		<!--  <appender-ref ref="console" />  -->  
		<appender-ref ref="file" />      
	</root>

	<!-- not fitting in any other category --> 	
	<logger name = "de.comlineag.sbm">
		<level value = "debug"></level>
	</logger>
	
	<!-- persistence logging --> 
	<logger name = "de.comlineag.sbm.persistence">
		<level value = "debug"></level>
		<appender-ref ref="fileP" />      
	</logger>
	
	<!-- twitter posting data logging -->
	<logger name = "de.comlineag.sbm.data.TwitterPostingData">
		<level value = "debug"></level>
		<appender-ref ref="fileC" />     
	</logger>
	
	<!-- twitter crawler logging -->
	<logger name = "de.comlineag.sbm.job.TwitterCrawler">
		<level value = "debug"></level>
		<appender-ref ref="fileC" />     
	</logger>
	
	<!-- twitter api(?) logging -->
	<logger name = "com.twitter">
		<level value = "info"></level>
		<appender-ref ref="fileT" />     
	</logger>
	
	<!-- facebook api(?) logging -->
	<logger name = "com.facebook">
		<level value = "info"></level>
		<appender-ref ref="fileF" />     
	</logger>
	
	<!-- http logging -->
	<logger name = "org.apache.http">
		<level value = "info"></level>
		<appender-ref ref="fileH" />     
	</logger>

</log4j:configuration>
