<?xml version="1.0" encoding="UTF-8" ?>
<!-- Licensed to the Apache Software Foundation (ASF) under one or more contributor 
	license agreements. See the NOTICE file distributed with this work for additional 
	information regarding copyright ownership. The ASF licenses this file to 
	You under the Apache License, Version 2.0 (the "License"); you may not use 
	this file except in compliance with the License. You may obtain a copy of 
	the License at http://www.apache.org/licenses/LICENSE-2.0 Unless required 
	by applicable law or agreed to in writing, software distributed under the 
	License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS 
	OF ANY KIND, either express or implied. See the License for the specific 
	language governing permissions and limitations under the License. -->
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<!-- 
		This is the logging configuration file for SNC - it logs 
					all SNC related log information to comlineag-loggerSNC.log
					all Spring job logs to comlineag-loggerSNC_Job.log 
					all Apache and Http logs to comlineag-loggerSNC_Http.log  - this includes social network api logs
	-->

	<!-- console logging -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p %c{1} - %m%n" />
		</layout>
	</appender>

	<!-- standard logfile -->
	<appender name="fileA" class="org.apache.log4j.FileAppender">
		<param name="File" value="logs/SNC-Runtime.log" />
		<!-- <param name="Threshold" value="WARN"/> -->
		<layout class="org.apache.log4j.PatternLayout">
			<!-- <param name="ConversionPattern" value="%-5p %c{1} - %m%n"/> -->
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1} - %m%n" />
		</layout>
	</appender>
	<!-- Crawler logfile -->
	<appender name="fileC" class="org.apache.log4j.FileAppender">
		<param name="File" value="logs/SNC-Crawler.log" />
		<!-- <param name="Threshold" value="WARN"/> -->
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1} - %m%n" />
			<!-- <param name="ConversionPattern" value="%-5p %c{1} - %m%n"/> -->
		</layout>
	</appender>
	<!-- Parser logfile -->
	<appender name="fileP" class="org.apache.log4j.FileAppender">
		<param name="File" value="logs/SNC-Parser.log" />
		<!-- <param name="Threshold" value="WARN"/> -->
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1} - %m%n" />
			<!-- <param name="ConversionPattern" value="%-5p %c{1} - %m%n"/> -->
		</layout>
	</appender>
	<!-- Data logfile -->
	<appender name="fileD" class="org.apache.log4j.FileAppender">
		<param name="File" value="logs/SNC-Data.log" />
		<!-- <param name="Threshold" value="WARN"/> -->
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1} - %m%n" />
			<!-- <param name="ConversionPattern" value="%-5p %c{1} - %m%n"/> -->
		</layout>
	</appender>
	<!-- Data logfile -->
	<appender name="fileS" class="org.apache.log4j.FileAppender">
		<param name="File" value="logs/SNC-Persistence.log" />
		<!-- <param name="Threshold" value="WARN"/> -->
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1} - %m%n" />
			<!-- <param name="ConversionPattern" value="%-5p %c{1} - %m%n"/> -->
		</layout>
	</appender>
	<!-- Handler logfile -->
	<appender name="fileH" class="org.apache.log4j.FileAppender">
		<param name="File" value="logs/SNC-Handler.log" />
		<!-- <param name="Threshold" value="WARN"/> -->
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1} - %m%n" />
			<!-- <param name="ConversionPattern" value="%-5p %c{1} - %m%n"/> -->
		</layout>
	</appender>
	
	
	<!-- Other logfile -->
	<appender name="fileO" class="org.apache.log4j.FileAppender">
		<param name="File" value="logs/Components.log" />
		<!-- <param name="Threshold" value="WARN"/> -->
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1} - %m%n" />
			<!-- <param name="ConversionPattern" value="%-5p %c{1} - %m%n"/> -->
		</layout>
	</appender>
	
	
	<!-- pushing every log entry in the same file and on the console -->
	<logger name="de.comlineag.snc">
		<level value="trace"></level>
		<appender-ref ref="console" />
		<appender-ref ref="fileA" />
	</logger>
	<logger name="de.comlineag.snc.parser">
		<level value="debug"></level>
		<appender-ref ref="fileP" />
	</logger>
	<logger name="de.comlineag.snc.crawler">
		<level value="debug"></level>
		<appender-ref ref="fileC" />
	</logger>
	<logger name="de.comlineag.snc.handler">
		<level value="debug"></level>
		<appender-ref ref="fileH" />
	</logger>
	<logger name="de.comlineag.snc.data">
		<level value="debug"></level>
		<appender-ref ref="fileD" />
	</logger>
	<logger name="de.comlineag.snc.persistence">
		<level value="debug"></level>
		<appender-ref ref="fileS" />
	</logger>
	
	
	<!-- log infos from jericho framework -->
	<logger name="net.htmlparser.jericho">
		<level value="warn"></level>
		<appender-ref ref="fileO" />
	</logger>
	<!-- log infos from spring framework -->
	<logger name="org.springframework">
		<level value="warn"></level>
		<appender-ref ref="fileO" />
	</logger>
	<!-- log infos from quartz job control -->
	<logger name="org.quartz.impl">
		<level value="warn"></level>
		<appender-ref ref="fileO" />
	</logger>
	<!-- log infos from apache framework -->
	<logger name="org.apache">
		<level value="warn"></level>
		<appender-ref ref="fileO" />
	</logger>
	<!-- log infos from apache framework -->
	<logger name="httpclient.wire">
		<level value="warn"></level>
		<appender-ref ref="fileO" />
	</logger>
	<!-- log infos from facebook4j -->
	<logger name="facebook4j.internal.http">
		<level value="warn"></level>
		<appender-ref ref="fileO" />
	</logger>
</log4j:configuration>
