<?xml version="1.0" encoding="UTF-8" ?>
<!-- Licensed to the Apache Software Foundation (ASF) under one or more contributor 
	license agreements. See the NOTICE file distributed with this work for additional 
	information regarding copyright ownership. The ASF licenses this file to 
	You under the Apache License, Version 2.0 (the "License"); you may not use 
	this file except in compliance with the License. You may obtain a copy of 
	the License at http://www.apache.org/licenses/LICENSE-2.0 Unless required 
	by applicable law or agreed to in writing, software distributed under the 
	License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS 
	OF ANY KIND, either express or implied. See the License for the specific 
	language governing permissions and limitations under the License. -->
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<!-- 
		This is the logging configuration file for SNC - it can (if configured) log
					all job logs to comlineag-loggerSNC.log 
					all persistence logs to comlineag-loggerSNC_Persistence.log 
					all Twitter logs to comlineag-loggerSNC_Twitter.log 
					all Http logs to comlineag-loggerSNC_Http.log 
	-->

	<!-- console logging -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p %c{1} - %m%n" />
		</layout>
	</appender>

	<!-- standard logfile -->
	<appender name="fileA" class="org.apache.log4j.FileAppender">
		<param name="File" value="./logs/comlineag-loggerSNC.log" />
		<!-- <param name="Threshold" value="WARN"/> -->
		<layout class="org.apache.log4j.PatternLayout">
			<!-- <param name="ConversionPattern" value="%-5p %c{1} - %m%n"/> -->
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1} - %m%n" />
		</layout>
	</appender>
	<!-- Job logfile -->
	<appender name="fileJ" class="org.apache.log4j.FileAppender">
		<param name="File" value="./logs/comlineag-loggerSNC_Job.log" />
		<!-- <param name="Threshold" value="WARN"/> -->
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1} - %m%n" />
			<!-- <param name="ConversionPattern" value="%-5p %c{1} - %m%n"/> -->
		</layout>
	</appender>
	<!-- Persistence logfile -->
	<appender name="fileP" class="org.apache.log4j.FileAppender">
		<param name="File" value="./logs/comlineag-loggerSNC_Persistence.log" />
		<!-- <param name="Threshold" value="WARN"/> -->
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1} - %m%n" />
			<!-- <param name="ConversionPattern" value="%-5p %c{1} - %m%n"/> -->
		</layout>
	</appender>
	<!-- http logfile -->
	<appender name="fileH" class="org.apache.log4j.FileAppender">
		<param name="File" value="./logs/comlineag-loggerSNC_Http.log" />
		<!-- <param name="Threshold" value="WARN"/> -->
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1} - %m%n" />
			<!-- <param name="ConversionPattern" value="%-5p %c{1} - %m%n"/> -->
		</layout>
	</appender>
	
	<!-- pushing every log entry in the same file and on the console -->
	<logger name="de.comlineag.snc">
		<level value="trace"></level>
		<appender-ref ref="console" />
		<appender-ref ref="fileA" />
	</logger>
	
	<!-- log infos from spring framework -->
	<logger name="org.springframework">
		<level value="info"></level>
		<appender-ref ref="console" />
		<appender-ref ref="fileJ" />
	</logger>
	<!-- log infos from apache framework -->
	<logger name="org.apache">
		<level value="info"></level>
		<appender-ref ref="console" />
		<appender-ref ref="fileH" />
	</logger>
	<!-- log infos from apache framework -->
	<logger name="httpclient.wire">
		<level value="info"></level>
		<appender-ref ref="console" />
		<appender-ref ref="fileH" />
	</logger>
	
	<!-- Handler logging -->
	<!--  
	<logger name = "de.comlineag.snc.handler"> 
		<level value = "trace"></level> 
		<appender-ref ref="fileH" /> 
	</logger> 
	-->
	<!-- persistence logging -->
	<!--  
	<logger name = "de.comlineag.snc.persistence"> 
		<level value = "trace"></level> 
		<appender-ref ref="fileP" /> 
	</logger> 
	-->
	<!-- data logging -->
	<!-- 
	<logger name = "de.comlineag.snc.data"> 
		<level value = "trace"></level> 
		<appender-ref ref="fileD" /> 
	</logger> 
	-->
	<!-- job logging -->
	<!-- 
	<logger name = "de.comlineag.snc.job"> 
		<level value = "trace"></level> 
		<appender-ref ref="fileJ" /> 
	</logger> 
	-->
</log4j:configuration>
