<?xml version="1.0" encoding="UTF-8" ?>
<SBM_Persistence>

	<!-- Definition der Persistence Implementierung -->
	<ClassType></ClassType>

	<!-- Systemdaten -->
	<System>
		<Host></Host>
		<Location></Location>
		<JdbcPort></JdbcPort>
		<ServiceNameUser></ServiceNameUser>
		<ServiceNamePost></ServiceNamePost>
	</System>

	<!-- Authentifizierung -->
	<Credentials>
		<User></User>
		<Pass></Pass>
	</Credentials>

</SBM_Persistence>
